/* general styles */
.is-null {
    background-color: #eee;
}
.is-pkey {
    background-color: lightblue;
}
.hide {
    display: none !important;
}
.flex {
    display: flex;
    align-items: center;
}
.full-width {
    width: 100%;
}
.mt {
    margin-top: 1em;
}
.maround {
    margin: 0.5em;
}
.center {
    justify-content: space-around;
}
button,select,.select,input {
    border-radius: 0 !important;
    border: 0;
    min-width: 60px;
    max-width: 80px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
}
input[name=name] {
    max-width: unset;
    text-align: center;
}
button[disabled] {
    cursor: initial;
}
label {
    margin-right: 1em;
    font-size: 1rem;
    font-weight: bold;
}

/* toolbar styles */
#toolbar {
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.toolbar-group {
    display: flex;
    align-items: center;
}

/* modal styles */
#table-fkey-config {
    display: flex;
}
#table-fkey-config > label {
    height: 40px;
    display: flex;
    align-items: center;
}
.dropdown-list {
    display: flex;
    flex-direction: column;
}
.dropdown-list > .select {
    margin-bottom: 1em;
    max-width: 500px;
}
.dropdown-list > .select > select {
    min-width: 100%;
}

/* Table styles */
.scrollable {
    height: calc(100vh - 48px);
    overflow-x: scroll;
}
table {
    width: max-content;
    min-width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
thead {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
thead tr {
    height: 40px;
}
thead tr:last-of-type {
    height: 60px;
}
th, td {
    height: 100%;
    max-width: 300px;
    max-height: 200px;
    word-break: break-all;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    padding: 4px;
}
th > .col-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th:last-of-type, td:last-of-type {
    border-right: none;
}
tr:last-of-type th, tr:last-of-type th {
    border-bottom: none;
}
thead tr:last-of-type th {
    border-bottom: 3px solid gray;
}
th .filter-icon {
    opacity: 0;
}
th:hover .filter-icon {
    opacity: .2;
}
th .filter-icon.is-filtering {
    opacity: 1;
}
.filter-input {
    min-width: 200px;
    min-height: 1.5rem;
}
#new-row-err-container > td {
    margin-top: 4px;
    height: 48px;
}
#new-row-err-container > td > div {
    position: fixed;
    width: 100%;
}
#new-row-err-container .has-text-danger {
    padding-bottom: 1em;
}
#new-row-err:empty {
    display: none;
}
td span, th span {
    padding: 4px;
    display: flex;
}
th > .flex > span {
    flex-grow: 1;
}
th > button, th > input, th > div {
    height: 100%;
}
th input {
    min-width: 0;
    height: 100%;
}
td form {
    height: 100%;
}
td input {
    max-width: 100%;
    background-color: transparent;
}
td input[size="1"] {
    width: 100%
}
td input[name=formula],th input[name=col_name] {
    flex: 1;
    max-width: unset;
    line-height: 1.5;
}
td .extra-cell {
    flex-wrap: wrap;
}
td .extra-cell .has-text-danger {
    width: 100%;
}
td span.extra-cell-value {
    padding: 0;
    min-height: 1.5rem;
    width: 100%;
}
.width-control {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}
